html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,aside,section,hgroup,footer,nav,figure,header,article,input,textarea,p,blockquote,th,td,select {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans";
}

div.wrapper,
div.subWrapper {
	height: 100%;
	overflow: hidden;
}

section.panel {
	margin: 20px;
	width: 90%;
	border: 1px solid #000;
	border-radius: 20px;
}

/* leftPanel */
div.leftPanel {
	height: 100%;
	width: 500px;
	float: left;
	border-color: #f0f;
}

/* hubPanel */
section#hubPanel {
	height: 80px;
}

section#hubPanel button {
	font-size: 18px;
	margin: 20px 0px;
}

section#hubPanel button#startRecord {
	margin-left: 20px; 
}

section#TreePanel {
	height: calc(100% - 100px);
}

/* lrightPanel */
div.rightPanel {
	height: 100%;
	width: calc(100% - 500px);
}

div.rightPanel section.panel{
	margin-left: 60px;
}

/* controlPanel */
section#controlPanel {
	height: 80px;
}

input, button {
	height: 40px;
}

input#searchBar {
	margin: 20px 0px 30px 50px;
	width: 70%;
}

/*padPanel*/
section#padPanel {
	height: 400px;
}

section#padPanel canvas  {
	margin: 30px 0px 0px 50px;
	width: 90%;
	height: 85%;
	border: 1px solid #c8c8c8;
}

/*infoTable*/ 
section#infoTable {
	height: 300px;
}
